INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
help/Makefile
help/Makefile.in
help/en/Makefile
help/en/Makefile.in
help/images/Makefile
help/images/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/gimp-collection-grid-maker
src/ui.o
src/main.o
src/render.o
stamp-h1
